/***estilos generales***/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    letter-spacing: 0.2em;
}

img,
video {
    width: 100%;
    height: 100%;
}

html {
    scroll-behavior: smooth;
}

iframe {
    border: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body {
    font-family: var(--letter-fam, 'Quicksand', sans-serif);
    --letter-fam-2: 'Open Sans', sans-serif;
    --paleta-muy-claro: rgb(216, 213, 233);
    --paleta-muy-oscuro: rgb(31, 9, 55);
    --paleta-normal: rgb(64, 56, 116);
    --paleta-claro: rgb(145, 163, 245);

}

/***site general***/
.div-container {
    position: relative;
}

/***div header***/
.logo {
    position: absolute;
    top: 1.5%;
    left: 20%;
    z-index: 2;
}

.logo>img {
    width: 10em;
}


.div-header {
    min-width: 100%;
    min-height: 100vh;
    position: relative;
    background-color: var(--paleta-muy-oscuro);

}

.fondo {
    border: 0;
    overflow: hidden;
    height: 100%;
}

.fondo>video {
    position: absolute;
    opacity: 0.5;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: 1;
}

.title {
    position: absolute;
    z-index: 2;
    top: 0;
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;

    color: rgb(242, 240, 255);
    text-transform: uppercase;
    font-size: 25px;
    background-color: var(--paleta-muy-oscuro);
    text-shadow: purple 2px 2px 5px;
}

/*boton inicio info*/
.info-index {
    position: absolute;
    z-index: 2;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
}

.info-index>a {
    min-width: 100%;
    min-height: 100%;
    border-radius: 15px;
    color:var(--paleta-muy-claro);
    padding: 15px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: var(--letter-fam);
    font-size: 2.3em;

}

.info-index>a>img {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    transition: 0.8s;
    border-radius: 25px 75px;
}

.info-index>a:hover {
    color: var(--paleta-muy-oscuro);
    transform: scale(0.8);
    background-color: var(--paleta-muy-claro);
}

/**nav**/
.div-nav {
    text-transform: uppercase;
    list-style: none;
    position: sticky;
    top: 0;
    left: 0;
    color: var(--paleta-muy-claro);
    background-color: #1f0937;
    z-index: 1;
}

.nav {
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 25px 0;
}

.logo-nav {
    position: absolute;
    top: 0;
    left: 20%;
    object-fit: contain;
    width: 7%;
    height: 100%;
    padding: 15px;
}

.nav>li {
    background-color: var(--paleta-muy-oscuro);
    padding: 15px 25px;
    font-size: 25px;
    transition: 0.5s;
    border-radius: 25px 75px 25px 75px;
    border: 0;
}

.nav>li:hover {
    background-color: var(--paleta-muy-claro);
    color: var(--paleta-muy-oscuro);
    border-radius: 75px 25px 75px 25px;
}

/***site main***/
.div-main>* {
    color: var(--paleta-muy-claro);
}

.div-main {
    display: grid;
    grid-template-columns: 15% 70% 15%;
    position: relative;
}

/**contenedores del main**/
.cont1-main a,
.cont3-main a {
    color: var(--paleta-muy-claro);
    text-decoration: none;
    font-size: 25px;
    text-transform: uppercase;
    display: block;
}

.cont1-main li::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 0.3em;
    background: black;
    left: 0;
    bottom: -10px;
    background-image: linear-gradient(to right, #5e42a6, #b74e91);
    transition: 0.5s;
    transform: scaleX(-1);
}


/*cont1*/
.cont1-main {
    order: 0;
    background-color: var(--paleta-normal);
}

.cont1-main div {
    position: sticky;
    top: 9%;
    margin: 0 15%;
    text-align: right;
    transform: translateY(20%);
    font-weight: bold;
}

.cont1-main li {
    margin-bottom: 2em;
    position: relative;
    transition: 0.5s;
}

.cont1-main li:hover {
    transform: translateY(-5px);
}

.cont1-main li:hover::after {
    transform: translateX(0);
}

/*cont2*/
.cont2-main {
    background-color: var(--paleta-muy-oscuro);
    order: 1;
    padding: 25px;

}

.cont3-main div {
    margin: 15px 15%;
    font-weight: bold;
}

.cont3-main {
    background-color: var(--paleta-normal);
    order: 2;
}

.div-section section:nth-child(odd) {
    display: none;
}